@charset "UTF-8";
/*Em HTML é id e CSS e #
Em HTML é class e CSS e . */
body{
    background-color: rgb(177, 216, 201);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(7, 79, 51);  
}
h1#principal {
    text-align: center;
    background-color: rgb(7, 79, 51); ;
    color: white;
}

h2 {
    color: rgb(50, 185, 115);
}
.basico{
   color:  rgb(9, 79, 7);

}
.intermediario{
    color:  rgb(60, 79, 7);

}
.avancado{
    color:  rgb(79, 36, 7);

}
.destaque{
    background-color: rgba(169, 169, 80, 0.481);
}