@charset "UTF-8";
*{
    
    font-family: Arial, Helvetica, sans-serif;
   
}
body{
    background-image: linear-gradient(to right, #7CC4B9, #4C7871);
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2b45419a;
}
h1{
   color:#41C4B1 ;
   text-align: center;
   text-shadow: 1px 1px 2px #4c7871c3 ;
   
}
h2{
   color:#2F8F80 ;
}
p{
    text-align: justify;
}